.header{
  background-color:rgba(51,51,51,1);
  padding: 30px 30px;
  color: white;
}
.container{
  overflow-y: scroll;
  height: 500px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
td{
  padding: 10px;
}
tr{
  background-color: #fff;
  border: 1px #ccc;
  color: #333;
  border-bottom: 0.5px solid rgba(173, 171, 171, 0.3);
}
tr:hover{
  background-color: #fafafa;
  border: 1px #ccc;
  color: #333;
}
.author{
  color: #999
}
.title{
  width: 40%;
}
