
<div class="header">
  <h1>HN Feed</h1>
  <h3>We <3 hacker news!</h3>
</div>
<div class="container">
  <table>
    <tr *ngFor="let el of articles">
      <td class="title">{{el.storyTitle || el.title}}</td>
      <td class="author">-{{el.author}}-</td>
      <td>{{el.createdAt | date:'short'}}</td>
      <td (click)="delete(el._id)">
        <a><img src="../assets/delete.png" height="24" width="24"></a></td>
    </tr>
  </table>
</div>
